@background-color: #FF0000;
@text-color: #1A237E;
@fontfamily:"times new roman";

p{
  background-color: @background-color;
  color: @text-color;
  padding: 17px;
}

ul{
  background-color: @background-color;
}

li{
  color: @text-color;
}

#divheader {
font-family: @fontfamily;
color:@text-color;
background: @background-color;

}